<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Monde</span></span></a>
        <a class="p-2 text-muted" href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">nous</span></span></a>
        <a class="p-2 text-muted" href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">La technologie</span></span></a>
        <a class="p-2 text-muted" href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Concevoir</span></span></a>
    </nav>
</div>