



    <div class="nav-scroller px-3 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accueil</font></font></a>
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ma Page admin</font></font></a>
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Les formations</font></font></a>
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Concevoir</font></font></a>
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Culture</font></font></a>
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Entreprise</font></font></a>
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Politique</font></font></a>
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Avis</font></font></a>
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La science</font></font></a>
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Santé</font></font></a>
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Style</font></font></a>
            <a class="p-2 text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Voyage</font></font></a>
        </nav>
    </div>
